/*body {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
  background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
  background: linear-gradient(270deg, #f7aae0, #fd81de, #ca14ac, #ec1616);
  background-size: 800% 800%;
  animation: gradientMove 5s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);

  width: 80%;  
  max-height: 80vh; 
  overflow-y: auto; 
  overflow-x: hidden; 
  margin: 20px auto; 
}

h1 {
  font-size: 2.5rem;
  color: #e91e63;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #333;
}

/*button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background-color: #ff4081;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #e91e63;
}*/
button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  background: linear-gradient(45deg, #ff4081, #e91e63);
  color: white;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(233,30,99,0.6);
  animation: pulse 2s infinite;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(233,30,99,0.9);
}

@keyframes pulse {
  0% { box-shadow: 0 0 10px rgba(233,30,99,0.6); }
  50% { box-shadow: 0 0 20px rgba(233,30,99,1); }
  100% { box-shadow: 0 0 10px rgba(233,30,99,0.6); }
}

.hidden {
  display: none;
}

#surpriseMessage h2 {
  color: #ff1744;
}

.heart {
  position: absolute;
  font-size: 2rem;
  color: #ff1744;
  animation: float 5s linear infinite;
}

@keyframes float {
  0% { transform: translateY(100vh) rotate(0deg); opacity: 1; }
  100% { transform: translateY(-10vh) rotate(360deg); opacity: 0; }
}
.hidden {
  display: none;
}
#fotosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: -3px; 
}

.foto {
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: transform 0.5s;
}

.foto.lateral.esquerda {
  transform: rotate(-10deg);
}

.foto.lateral.direita {
  transform: rotate(10deg);
}

.foto.principal {
  transform: rotate(0deg);
}

.hidden {
  display: none;
}